/* .login-page {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
} */

.actions {
    position: absolute;
    top: 20px;
    left: 20px;
}

.actions p {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

form {
    background-color: #fff;
    color: #333;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* width: 100%;
    max-width: 400px; */
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form input:focus {
    outline: none;
    border-color: #ff6b00;
    box-shadow: 0 0 5px rgba(255, 107, 0, 0.5);
}

.login-page button {
    width: 100%;
    padding: 10px 15px;
    background-color: #ff6b00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65a00;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 107, 0, 0.5);
}

/* cccc */

.login-page {
    width: 40%;
    margin: auto;
}

.divider {
    text-align: center;
    margin: 16px 0;
    color: #999;
}

.google-btn {
    background: #db4437;
    color: white;
    width: 80%;
}

.switch-mode {
    margin-top: 12px;
    text-align: center;
}

.switch-mode a {
    color: #ff6b00;
    cursor: pointer;
}

/* .login-page {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

.actions p {
  padding: 10px 20px;
  width: max-content;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
} */