.dashboard {
    width: 15vw;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.dashboard-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

.dashboard-actions .dashboard-btn {
    background: transparent;
    color: #ffffff;
    border: none;
    text-align: left;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}

.dashboard-actions .dashboard-btn:hover {
    background: #d5d4d4;
    color: #111;
    font-weight: 600;
}

.dashboard-actions .dashboard-btn.active {
    background: #ffffff;
    color: #000000;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* nút lớn */
.menu-main {
    width: 100%;
    padding: 14px 9px;
    font-size: 16px;
    font-weight: 600;
    background: #1e293b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    transition: background 0.2s;
}

.menu-main:hover {
    background: #334155;
}

/* group */
.menu-group {
    position: relative;
}

.menu-dropdown {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    padding: 8px 0;
}

/* item */
.menu-dropdown button {
    width: 100%;
    padding: 10px 9px;
    background: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.15s;
}

.menu-dropdown button:hover {
    background: #f1f5f9;
}